body{
    background-image: url("img/fondo.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1{
    color: #fff;
    margin: 50px 0px;
    display: block;
    text-align: center;
    font-size: 80px;
    text-shadow: 0 0 20px rgb(255, 244, 83);
}

#fotos{
    width: 100%;
    margin:0 px auto;
}

#container:after{
    content: "";
    display: block;
    height: 0px;
    clear: both;
}

#container{
    width: 90%;
    margin: 0  auto;
}

#container div{
    width: 28%;
    height: auto;
    -webkit-transition: -webkit-transform 1s;
    display: inline;
    float: left;
    margin: 0 3% 0 0;
    padding: 0;
}

#container div img{
    width: 100%;
    height: auto;
    box-shadow:0 0 20px rgb(94, 161, 192);
    border: 5px solid #fff;
}

img{
    width: 350px;
    height: 200px;
}

#container div span{
    color: #fff;
}

#container div img~span{
    width: 100%;
    height: auto;
    display: block;
    opacity: 0;
    -webkit-transition: opacity 1s;
    margin: 0;
    padding: 2px 5px;
    color: #fff;
    background: rgba(247, 233, 40, 0.7);
    box-shadow: 0 0 10px #666;
    text-align: center;
}

#container div img:hover+span{
    opacity: 1;

}

#container:hover div{
    opacity: 0.2;
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
}

#container:hover div:hover{
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}